pkgbase = openshift-cli-bin
	pkgdesc = Openshift client from upstream, stable version
	pkgver = 4.3.12
	pkgrel = 1
	url = https://mirror.openshift.com/pub/
	arch = x86_64
	license = MIT
	depends = kubectl
	provides = oc
	conflicts = origin-client
	conflicts = origin-client-bin
	source = https://mirror.openshift.com/pub/openshift-v4/clients/ocp/stable-4.3/openshift-client-linux-4.3.12.tar.gz
	sha256sums = 1118dfa0fc79c0e2f0944895425c1c9435e0de6cb0ed1d4ee7c19a63d7ee67a0

pkgname = openshift-cli-bin

