pkgbase = openshift-cli-bin
	pkgdesc = Openshift client from upstream, stable version
	pkgver = 4.6.1
	pkgrel = 1
	url = https://mirror.openshift.com/pub/
	arch = x86_64
	license = MIT
	depends = kubectl
	provides = oc
	conflicts = origin-client
	conflicts = origin-client-bin
	source = https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux-4.6.1.tar.gz
	sha256sums = 6b6fc3aa77092312df45e3d8bf0451fbb95a2b30826ec8c6dc9fff2f69e8ee5a

pkgname = openshift-cli-bin

